# Xcode
build/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# CocoaPods
Pods/
*.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
